.container {
  margin-bottom: 1.5rem;
  width: 60%;
}

.container p {
  margin-bottom: 0px;
}

.cardSection {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
}

.cardSection img {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

.cardText {
  margin-top: 1rem;
  padding-left: 3rem;
}
.controllers {
  display: flex;
  gap: 30px;
}
.reviewHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.reviewHeader img {
  border-radius: 50%;
}

.reviewHeader p {
  margin: 0px;
}

.deleteButton {
  cursor: pointer;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  border-top: none;
  background-color: white;
}

.date {
  width: 100%;
  text-align: right;
}
