.container {
  margin-bottom: 1.5rem;
  width: 60%;
}

.container p {
  margin-bottom: 0px;
}

.cardSection {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.cardText {
  max-width: 70%;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.reviewHeader img {
  border-radius: 50%;
}

.reviewHeader p {
  margin: 0px;
}
