.container {
  margin-bottom: 1rem;
}

.topControllersContainer {
  margin-bottom: 1rem;
}
.controllers {
  display: flex;
  justify-content: space-between;
}

.dataInputs {
  margin-bottom: 2rem;
}

.dropDownControllers {
  width: 160px !important;
}


.controllers button {
  width: 130px;
}
